@import '../stylesheets/colors.scss';
@import '../stylesheets/type.scss';

.card {
  width: 100%;
  padding: 0px 11px;
  height: 340px;
  display: block;
}

.list {
  flex: 1;
  list-style: none;
  padding: 0;
}

.item {
  display: block;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 10px 0;
  width: 100%;
  color: $dusty-gray;
}

.text {
  flex: 1;
}

.value {
  float: right;
  margin-right: 15px;
  color: $green;
}

.icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
