$light-font-family: Roboto-Light;
$medium-font-family: Roboto-Medium;
$regular-font-family: Roboto-Regular;

$xs-font-size: 12px;
$small-font-size: 14px;
$regular-font-size: 16px;
$medium-font-size: 18px;
$large-font-size: 20px;
