@import '../stylesheets/colors.scss';
@import '../stylesheets/type.scss';

.action-btn {
  color: $primary-inverse-color;
  background-color: $primary-color;
  font-size: $regular-font-size;
  height: 30px;
  padding: 3px 12px;
  width: 100%;

  &:hover {
    color: $primary-inverse-color;
  }

  &:focus,
  &:active {
    color: $primary-inverse-color;
  }
}

.btn-container {
  margin-top: 20px;
  text-align: right;
}

.container {
  display: block;
  width: 100%;
}

.table-container {
  margin: 0 auto;
  overflow: auto;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.table-header {
  margin-bottom: 10px;
  padding: 0 10px;
}

.th {
  padding: 10px 5px;
  color: $text-color;
  text-align: left;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:first-child {
    padding-left: 30px;
    width: 250px;
  }

  &:last-child {
    text-align: center;
    width: 250px;
  }
}

.td {
  padding: 3px 5px;
  color: $text-color;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:first-child {
    padding-left: 30px;
    width: 250px;
  }

  &:last-child {
    text-align: center;
    width: 250px;
  }
}
