@import '../stylesheets/colors.scss';
@import '../stylesheets/type.scss';

.container {
  min-width: 1170px;
  margin: auto;
}

.bar {
  background-color: $shadow-gray;
  margin-bottom: 40px;
  padding: 6px 10px;
  border-top: 1px solid #EEEFEF;

  img {
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 4px;
  }
}

.link {
  color: $dove-gray;
}

.link + .link:before {
  content: '/';
  display: inline-block;
  width: 20px;
  text-align: center;
  color: $dove-gray;
}
