@import '../stylesheets/colors.scss';
@import '../stylesheets/type.scss';

.location-container {
  height: 340px;
}

.title-view-by {
  padding-right: 5px;
  color: $dusty-gray;
}

.header-btn {
  width: 60px;
  height: 24px;
  background-color: transparent;
  padding: 0;
  margin-right: 3px;
  box-shadow: none;
  border: none;
  outline: none;

  img {
    width: 100%;
    height: 100%;
  }
}

.container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;

  > div {
    flex: 1;
  }
}
