@import '../stylesheets/colors.scss';
@import '../stylesheets/type.scss';

.sections {
  padding: 0 0 10px;
}

.slideshow {
  width: 100%;
  overflow: hidden;
}

.prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(-50%, -50%, 0);
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate3d(50%, -50%, 0);
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.slides {
  position: relative;
  white-space: nowrap;
  margin: 0 -15px;
  width: 100%;
  transition: transform 0.2s ease-in-out;
}

.slide {
  display: inline-block;
  width: 33.3%;
  padding: 4px 15px;
}

.slide + .slide {
  margin-left: calc(0.1% + 5px);
}
